body {
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text h2 {
    font-size: 65px;
    font-family: merienda;
    margin: 0;
}

h1 {
    font-family: roboto;
    margin: 0;
}

h1::before {
    content: "share & subscribe";
    font-size: 600%;
    animation: animate 8s infinite;
}

@keyframes animate {
    0%{
        font-size: 600%;
        opacity: 1;
    }
    25%{
        font-size: 570%;
        opacity: 0;
    }
    50%{
        font-size: 600%;
        opacity: 1;
    }
    65%{
        font-size: 570%;
        opacity: 0;
    }
    80%{
        font-size: 600%;
        opacity: 1;
        content: "Front-end";
    }
    90%{
        font-size: 570%;
        opacity: 0;
    }
    100%{
        font-size: 600%;
        opacity: 1;
        content: "share & subscribe";
    }
    
}