

.column {
    display: flex;
    height: 600px;
    max-width: 300px;
    align-items: stretch;
    border: 1px solid rgb(0, 0, 0)
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.bar {
    border-right: 1px solid blue;
}

.female { background: #f4ce14;}
.male {background: #495e57;}

.column {
    display: flex;
    align-items: stretch;
    height: 400px;
    max-width: 300px;
    border: 1px solid rgb(189, 76, 76);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.bar {
    border-right: 1px solid white;
}

.female {
    background: #f4ce14;
}

.male {
    background: #495e57;
}

