body{
    background-color: lemonchiffon;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: #495E57;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header img{
    display: block;
    margin: auto;
    width: 24rem;
}

.features article img{
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav ul li {
    margin: 0 8rem;
}

nav {
    font-size: 1.8rem;
    background-color: #495E57;
    margin: 2rem 0;
    padding: 0.01rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.hero-promo{
    background-image: url('../hero.jpg');
    background-position: 50% 20%;
    background-size: 100%;
    color: white;
    padding: 1rem;
    text-shadow: 3px -1px 4px rgba(0,0,0,0.56);
}

.hero-promo h1{
    text-shadow: 3px -1px 4px rgba(0,0,0,0.56);
    color: white !important;
}

.hero-promo p{
    font-size: 2rem;
}

section.features {
    display: flex;
    justify-content: space-around;
}

section.features article {
    width: 28rem;
    padding: 1rem;
}

section.features article p {
    font-size: 1.3rem;
}

section.features article img {
    width: 100%;
}

footer img {
    width: 8rem;
}

footer {
    display: flex;
    margin: 3rem 0;
    font-size: 1.5rem;
}

footer div {
    width: 50%;
}

footer .copyright p {
    text-align: right;
    border-top: solid;
    padding-top: 1rem;
}